#some-of-our-work {
    height: 550px;
    background: url(../images/blue-bg.png);
    -webkit-box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
	-moz-box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
	box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
}

#some-of-our-work .container {
    background: url(../images/hack.png) no-repeat center 58px;
    height: 100%;
}

body, html {
    font-family: 'Bitter', serif;
    height: 100%;
}

input, button, textarea {
    font-family: 'Bitter', serif;
}

html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

#billboard {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url(../images/billboard-1.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#billboard-text {
    position: relative;
    height: 342px;
    width: 940px;
    top: 50%;
    margin-top: -171px;
    left: 50%;
    margin-left: -470px;
    z-index: 1;
}

#billboard-text span {
    margin: 0 0 7px 0;
    height: 107px;
    line-height: 107px;
    padding: 0 25px;
    background: rgba(0, 102, 153, .8);
    color: #fff;
    font-size: 4.5em;
    display: inline-block;
}

#billboard-text .special {
    color: #cccc66;
    font-weight: normal;
}

#header-pre {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}


#header-pre.active {
	background: url(../images/nav-bg.png);
    padding: 5px 0;
    height: 50px;
    -webkit-box-shadow: 0 2px 5px rgba(35,31,32,.75);
	-moz-box-shadow: 0 2px 5px rgba(35,31,32,.75);
	box-shadow: 0 2px 5px rgba(35,31,32,.75);
}

#header-pre.active #billy-menu {
    margin-top: 0px;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#billy-menu img {
    display: none;
}

#billy-menu {
    width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: url(../images/nav-bg.png);
	-webkit-box-shadow: 2px 3px 7px rgba(35,31,32,.75);
	-moz-box-shadow: 2px 3px 7px rgba(35,31,32,.75);
	box-shadow: 2px 3px 7px rgba(35,31,32,.75);
    position: relative;
    float: right;
    margin-top: 5px;
    z-index: 999;
    overflow: hidden;
}

#billy-menu .dots {
    background: url(../images/menu-dots.png) no-repeat;
    width: 8px;
    height: 21px;
    position: absolute;
    right: 22px;
    top: 14px;
}

.billy-menu-hover .dots {
    background-position: 0px -21px !important;
}

#billy-menu img, #billy-menu nav {
    visibility: hidden;
}

.billy-menu-hover img {
    margin-left: 23px;
    margin-top: 11px;
    visibility: visible !important;
}

.billy-menu-hover nav {
    visibility: visible !important;
    margin-right: 68px;
}

.billy-menu-hover nav ul li {
    line-height: 50px;
}

.nav-starter {
    width: 103px;
    height: 52px;
    text-indent: -9999px;
    background: url(../images/nav-starter.png);
    position: absolute;
    bottom: 0px;
    right: 50%;
    margin-right: -51px;
    opacity: .85;
}

nav {
    float: right !important;
    position: relative;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li {
    float: left;
    padding-left: 60px;
    height: 100%;
    line-height: 70px;
}

nav ul li a {
    text-decoration: none;
    color: #ccccff;
}

nav ul li a:hover {
    color: #fff;
}

nav .active {
    color: #fff !important;
}


.nav-starter:hover {
    opacity: 1;
}

#content {
    padding-top: 70px;
    position: relative;
    top: 100%;
    z-index: 2;
}

#whats-our-story {
    padding: 65px 0;
    background: url(../images/who-are-we.png);
}

#whats-our-story h1 {
    font-size: 3em;
    color: #003366;
    margin-top: 92px;
    margin-bottom: 43px;
}

#whats-our-story p {
    font-size: .9375em;
    color: #333;
    line-height: 22px;
    margin: 0 0 10px 0;
}

#whats-our-story .special {
    color: #f99532;
}

.here-for-you {
    font-style: italic;
}

.our-work img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: .7;
    width: 100%;
    height: 100%;
}


.our-work div.four {
    width: 230px !important;
    height: 196px;
    margin: 0 !important;
    position: relative;
}

.our-work div.eight {
    margin: 0 !important;
    height: 163px;
    position: relative;
}

.our-work p {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 22px 0;
    text-align: center;
    font-style: italic;
    font-size: 1.5em !important;
}

.image-bg {
    position: absolute;
    background: rgba(51, 153, 103, .95);
	-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,.75);
	-moz-box-shadow: inset 0 0 2px rgba(255,255,255,.75);
	box-shadow: inset 0 0 2px rgba(255,255,255,.75);
    color: #fff;
    z-index: 10;
}

.image-bg div {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 10px;
    color: #fff;
    text-align: right;
}

.image-title {
    font-size: 0.9375em;
    font-weight: bold;
    display: block;
}

.image-work {
    font-size: .75em;
    font-style: italic;
}

#quote {
    height: 350px;
    background: url(../images/billboard-2.jpg) center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset 0 -1px 20px rgba(0,0,0,.75);
	-moz-box-shadow: inset 0 -1px 20px rgba(0,0,0,.75);
	box-shadow: inset 0 -1px 20px rgba(0,0,0,.75);
}

#quote figure {
    background: rgba(0, 102, 153, .85);
    height: 180px;
    margin-top: 85px;
}

#quote .h1-wrap {
    height: 180px;
    display: table;
    margin-left: 20px;
}

#quote h1 {
    font-size: 1.875em;
    color: #fff;
    font-style: italic;
    display: table-cell; 
    vertical-align: middle;
}

#quote blockquote {
    width: 360px;
    font-size: 1.125em;
    color: #fff;
    font-weight: normal;
    margin: 0;
    height: 100%;
    display: table;
}

#quote blockquote p {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

#quote .caption {
    color: #ccccff;
    font-style: italic;
    text-align: right;
    font-size: 1.111em;
    margin-left: 23px;
}

#the-team {
    box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
    background: url(../images/the-team-bg.png);
    display: none;
}

#the-team h1 {
    color: #fff;
    font-size: 2.25em;
    margin: 0;
    padding-top: 10px;
}

.team-box {
    display: none;
    height: 350px;
    width: 340px;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url(../images/the-team-pattern.jpg);
    -webkit-box-shadow: 0 5px 10px rgba(35,31,32,.75);
	-moz-box-shadow: 0 5px 10px rgba(35,31,32,.75);
	box-shadow: 0 5px 10px rgba(35,31,32,.75);
}

.team-active {
    width: 640px;
}

.team-box img {
    -webkit-box-shadow: 0 0 10px rgba(102,102,51,.15);
	-moz-box-shadow: 0 0 10px rgba(102,102,51,.15);
	box-shadow: 0 0 10px rgba(102,102,51,.15);
}

#what-can-we-do {
    background: url(../images/what-can-we-do-bg.png);
}

#what-can-we-do .container {
    padding-top: 55px;
    background: url(../images/what-can-we-do.png) no-repeat 12px 265px;
    color: #fff;
    font-weight: normal;
}

#what-can-we-do h1 {
	text-shadow: 1px -2px 1px rgba(0,0,0,.51);
    font-size: 3em;
    margin: 0 0 20px 0;
}

#what-can-we-do h2 {
	text-shadow: 1px -1px 1px rgba(0,0,0,.51);
    font-size: 1.125em;
}

#what-can-we-do .container div {
    height: 1px;
    background: #ffffcc;
    margin: 22px 60px;
    padding-right: 20px;
}

#services {
    height: 710px;
}

#services h3 {
    font-size: 1.875em;
    margin: 0;
}

#services .number {
    margin-right: 30px;
}

#services p {
    color: #ffffcc;
    margin: 0 50px;
    line-height: 25px;
}

#services .special {
    color: #fff;
    font-weight: bold;
}

#services .graphics p {
    width: 530px;
}

#services .photography {
    margin-top: 120px;
}

#services .web-development {
    margin-top: 150px;
}

#services .web-development p {
    width: 650px;
}

#endless-possibilities {
    height: 191px;
    /*background: url(../images/endless-possibilities-2.png) center center no-repeat #fff;
    background-attachment: fixed;*/
    background: url(../images/who-are-we.png);
}

#endless-possibilities .parallax {
    background: url(../images/endless-possibilities.png) repeat-x top;
}

#endless-possibilities .second-parallax {
    height: 191px;
    background: url(../images/endless-possibilities-3.png) center -25px no-repeat;
    margin-left: .9px; /* Fix background 1px offset bug */
}

#endless-possibilities .container {
    line-height: 168px;
    text-align: center;
}

#endless-possibilities span {
    font-size: 1.25em;
    color: #666;
}

#twitter {
    background: url(../images/twitter-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
    -webkit-box-shadow: inset 0 3px 10px rgba(35,31,32,.35);
	-moz-box-shadow: inset 0 3px 10px rgba(35,31,32,.35);
	box-shadow: inset 0 3px 10px rgba(35,31,32,.35);
}

.twitter-box {
    margin-top: 85px;
    width: 100%;
    height: 160px;
    padding: 10px 0;
    background: rgba(255, 255, 255, .7);
}

.twitter-box h1 {
    margin: 0;
    line-height: 160px;
    font-size: 1.875em;
    color: #333;
}

#twitter-icon {
    margin-left: 17px;
    margin-right: 10px;
}

.tweet {
    display: table !important;
    height: 100%;
    margin-left: 0px !important;
    padding-left: 9px;
    border-left: 1px solid #fff;
}

.twitter-box p {
    font-size: 1.5em;
    color: #666;
    margin: 0;
    margin-left: 17px;
    display: table-cell;
    vertical-align: middle;
}

#blog {
    background: url(../images/blog-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
	-webkit-box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
	-moz-box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
	box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
}

.blog-box {
    margin-top: 85px;
    width: 100%;
    height: 180px;
    background: rgba(0, 0, 0, .85);
    color: #fff;
}

.blog-box div {
    display: table !important;
    height: 100%;
}

.blog-box h1 {
    font-size: 2em;
    margin: 0;
    padding-left: 17px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
}

.blog-box p {
    margin: 0;
    font-size: 0.9375em;
    display: table-cell;
    vertical-align: middle;
    line-height: 25px;
    padding-right: 17px;
}

.blog-box .read-more {
    color: #ccccff;
    font-style: italic;
    float: right;
    text-decoration: none;
}

footer {
    background: url(../images/blue-bg.png);
    -webkit-box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
	-moz-box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
	box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
}

footer .container {
    padding-top: 70px;
}

#location h1 {
    font-size: 3em;
    color: #fff;
    margin: 0;
    padding: 50px 0;
}

#location p {
    clear: both;
    color: #fff;
    line-height: 30px;
    margin: 0;
}

form {
    width: 100%;
    background: rgba(0, 0, 51, .5);
}

form div {
    padding: 40px 30px 55px 30px;
}

#contact h1 {
    color: #fff;
    margin: 0;
}

#contact p {
    color: #fff;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;
}

#contact input, #contact textarea {
    width: 379px;
    border: 1px solid #488f7b;
    background: #b3b3c2;
    height: 50px;
    color: #666699;
    font-size: 1.125em;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
}

#contact input:focus, #contact textarea:focus {
    border: 1px solid #006633;
    background: #fff;
    color: #6666ff;
}

#contact textarea {
    margin-bottom: 34px !important;
    height: 122px;
    padding-top: 18px;
    resize: vertical;
}

#contact button {
    width: 120px;
    height: 43px;
    border: 0;
    background: #ff9900;
    color: #fff;
    font-size: 1.125em;
    outline: 0;
    border-top: 2px solid #ffcc99;
    opacity: .8;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#contact button:hover {
    border-top: 1px solid #ffcc99;
    opacity: 1;
}

#contact span.drop {
    font-size: 0.9375em;
    color: #fff;
    float: right;
    text-align: left;
    width: 250px;
    height: 45px;
    margin-top: 1px;
}

#contact .email-address {
    font-size: 1.375em;
}

#copyright {
    color: #ccccff;
    font-size: .875em;
    margin-top: 50px;
    padding-bottom: 60px;
}

/* Page */

ol {
    list-style-type: none;
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

.right {
    float: right;
}

::-webkit-input-placeholder { font-style: italic; color: #666699;}
::-moz-placeholder { font-style: italic; color: #666699;} /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; color: #666699;} /* ie */
input:-moz-placeholder { font-style: italic; color: #666699;}

/* #Media Queries
================================================== */

    /* All retina */
    @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        #quote {
            background-image: url(../images/billboard-2-retina.jpg);
        }
    
        #footer {
            background: url(../images/footer-bg-retina.png);
        }
        
        #what-can-we-do {
            background: url(../images/what-can-we-do-bg-retina.png);
        }
    
        #the-team {
            background: url(../images/the-team-bg-retina.png);
        }

    }

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

    /* All iPad */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        #endless-possibilities {
            background-attachment: scroll;
        }
    
        #quote {
            background-attachment: scroll;
            background-position: center -40px;
        }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
        #billboard-text {
            width: 768px;
            margin-left: -384px; /*Need to find out why numbers higher (e.g. -383) break portrait! */
        }
    
        #billboard-text span {
            font-size: 3em;
        }
    
        #billy-menu {
            font-size: .875em;
        }
    
        nav ul li {
            padding-left: 40px;
        }
    
        #whats-our-story h1 {
            font-size: 2.5em;
            margin-top: 0;
        }
    
        .our-work div.four {
            width: 182px !important;
            height: 155px;
        }

        .our-work div.eight {
            height: 129px;
        }
    
        #quote blockquote {
            width: 278px;
        }
    
        #quote .caption {
            text-align: right;
            width: 100%;
            float: right;
        }
    
        .twitter-box h1 {
            font-size: 1.4em;
        }
    
        footer h1 {
            font-size: 1.5em;
            vertical-align: top;
        }
    
        #contact input, #contact textarea {
            font-size: 1em;
            padding-left: 15px;
        }
    
        #location-icon {
            top: -5px;
        }
    
        #blog-icon {
            top: -4px;
        }
    
        #what-can-we-do .container {
            background: url(../images/what-can-we-do-tablet-portrait.png) no-repeat 12px 265px;;
        }
    
        #what-can-we-do h1, #what-can-we-do h2, #services {
            margin-left: 10px;
        }
    
        #what-can-we-do .container div {
            padding-right: 0px;
        }
        
        #services h3 {
            font-size: 1.5em;
        }
    
        #services .graphics p {
            width: 380px;
        }
    
        #services .photography {
            margin-top: 79px;
        }
    
        #services .web-development {
            margin-top: 129px;
        }
    
        #services .web-development p {  
            width: 450px;
        }
    
        #endless-possibilities .second-parallax {
            background-image: url(../images/endless-possibilities-3-tablet-portrait.png);
            margin-left: 0;
        }
    
        #endless-possibilities span {
            margin-left: -52px;
        }
        
        .blog-box h1 {
            font-size: 1.65em;
        }
    
        .blog-box p {
            font-size: .75em;
            line-height: 20px;
        }
        
        #location h1 {
            padding-top: 0px;
        }
    
        #contact input, #contact textarea {
            width: 286px;
        }
    
        #contact span.drop {
            width: 175px;
            margin-left: 5px;
            font-size: 0.75em;
            margin-top: 12px;
        } 
    
    #some-of-our-work .container {
        background: url(../images/hack-ipad.png) no-repeat center 58px;
    }
    
        footer .container{
            overflow: hidden;
    }
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
