body, html {
    font-family: 'Bitter', serif;
    height: 100%;
}

input, button, textarea {
    font-family: 'Bitter', serif;
}

html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

#billboard {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url(../images/billboard-1.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#billboard-text {
    position: relative;
    height: 342px;
    width: 940px;
    top: 50%;
    margin-top: -171px;
    left: 50%;
    margin-left: -470px;
    z-index: 1;
}

#billboard-text span {
    margin: 0 0 7px 0;
    height: 107px;
    line-height: 107px;
    padding: 0 25px;
    background: rgba(0, 102, 153, .8);
    color: #fff;
    font-size: 4.5em;
    display: inline-block;
}

#billboard-text .special {
    color: #cccc66;
    font-weight: normal;
}

header {
    position: fixed;
    bottom: 0px;
    background: rgba(0, 0, 0, .9);
    height: 70px;
    width: 100%;
    z-index: 999;
}

header img {
    margin-top: 12px;
}

nav {
    float: right !important;
    position: relative;
    right: -2000px;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li a {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #996633;
}

nav .active {
    background-color: #40807c !important;
}


header .nav-starter {
    width: 71px;
    height: 70px;
    text-indent: -9999px;
    background: url(../images/nav-starter.png);
    float: right;
    position: absolute;
    right: 0;
}

header .nav-starter:hover {
    background-position: 0px 70px;
}

#content {
    padding-top: 70px;
    position: relative;
    top: 100%;
    z-index: 2;
}

#who-are-we {
    background: url(../images/border-1.png) repeat-x left bottom #fff;
}

#who-are-we h1 {
    font-size: 3em;
    color: #003366;
    margin: 55px 0 13px 0;
}

#who-are-we p {
    font-size: 1.125em;
    color: #333;
}

#who-are-we .special {
    color: #f99532;
}

.here-for-you {
    font-style: italic;
}

.our-work {
    margin-top: 70px;
}

.our-work img {
    border: 2px solid #000066;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.our-work p {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 22px 0;
    text-align: center;
    font-style: italic;
    font-size: 1.5em !important;
}

#the-team {
    box-shadow: inset 0 5px 20px rgba(35,31,32,.5);
    background: url(../images/the-team-bg.png);
}

#the-team h1 {
    color: #fff;
    font-size: 2.25em;
    margin: 0;
    padding-top: 10px;
}

.team-box {
    display: none;
    height: 350px;
    width: 340px;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url(../images/the-team-pattern.jpg);
    -webkit-box-shadow: 0 5px 10px rgba(35,31,32,.75);
	-moz-box-shadow: 0 5px 10px rgba(35,31,32,.75);
	box-shadow: 0 5px 10px rgba(35,31,32,.75);
}

.team-active {
    width: 640px;
}

.team-box img {
    -webkit-box-shadow: 0 0 10px rgba(102,102,51,.15);
	-moz-box-shadow: 0 0 10px rgba(102,102,51,.15);
	box-shadow: 0 0 10px rgba(102,102,51,.15);
}

#quote {
    height: 350px;
    background: url(../images/billboard-2.jpg) center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#quote figure {
    background: rgba(10, 98, 141, .8);
    height: 60px;
    padding: 30px 0px;
    text-align: center;
    margin-top: 115px;
    margin-left: 60px;
}

#quote blockquote {
    font-size: 1.5em;
    color: #fff;
    font-weight: normal;
    margin: 0 0 10px 0;
}

#quote figcaption {
    font-size: 1.5em;
    color: #99cccc;
    font-style: italic;
    text-align: right;
    margin-right: 50px;
}

#what-can-we-do {
    background: url(../images/what-can-we-do-bg.png);
}

#what-can-we-do .container {
    padding-top: 55px;
    background: url(../images/what-can-we-do.png) no-repeat 12px 265px;
    color: #fff;
    font-weight: normal;
}

#what-can-we-do h1 {
	text-shadow: 1px -2px 1px rgba(0,0,0,.51);
    font-size: 3em;
    margin: 0 0 20px 0;
}

#what-can-we-do h2 {
	text-shadow: 1px -1px 1px rgba(0,0,0,.51);
    font-size: 1.125em;
}

#what-can-we-do .container div {
    height: 1px;
    background: #ffffcc;
    margin: 22px 60px;
    padding-right: 20px;
}

#services {
    height: 710px;
}

#services h3 {
    font-size: 1.875em;
    margin: 0;
}

#services .number {
    margin-right: 30px;
}

#services p {
    color: #ffffcc;
    margin: 0 50px;
    line-height: 25px;
}

#services .special {
    color: #fff;
    font-weight: bold;
}

#services .graphics p {
    width: 530px;
}

#services .photography {
    margin-top: 120px;
}

#services .web-development {
    margin-top: 150px;
}

#services .web-development p {
    width: 650px;
}

#endless-possibilities {
    height: 191px;
    background-color: #fff;
    background-image: url('../images/endless-possibilities-2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#endless-possibilities .parallax {
    background: url(../images/endless-possibilities.png) repeat-x top;
}

#endless-possibilities .second-parallax {
    height: 191px;
    background: url(../images/endless-possibilities-3.png) center -25px no-repeat;
    margin-left: .9px; /* Fix background 1px offset bug */
}

#endless-possibilities .container {
    line-height: 168px;
    text-align: center;
}

#endless-possibilities span {
    font-size: 1.25em;
    color: #666;
}

footer {
    background: url(../images/footer-bg.png);
}

#footer .container {
    padding-top: 40px;
}

footer h1 {
    font-size: 1.875em;
    color: #fff;
    clear: both;
}

#contact p {
    color: #ccffcc;
    font-size: 1.125em;
    margin: 12px 0;
}

#contact input, #contact textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #66cc99;
    background: #b8e8d0;
    height: 52px;
    color: #999;
    font-size: 1.125em;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
}

#contact input:focus, #contact textarea:focus {
    border: 1px solid #006633;
    background: #fff;
    color: #ccc;
}

#contact textarea {
    margin-bottom: 18px !important;
    height: 142px;
    padding-top: 18px;
    resize: vertical;
}

#contact button {
    height: 50px;
    border: 0;
    background: #fb9732;
    color: #fff;
    font-size: 1.125em;
    outline: 0;
}

#contact button:hover {
    border-top: 1px solid #ffcc99;
}

#contact button:hover span {
    position: relative;
    top: -1px;
    opacity: 1;
}

#contact button span {
    opacity: .6;
}

footer article h1 {
    color: #ccffcc;
    font-size: 1.375em;
}

footer article p {
    font-size: .875em;
    color: #fff;
    line-height: 25px;
}

footer article p a {
    color: #ccffcc;
    font-style: italic;
    text-decoration: none;
}

footer .after-article {
    height: 1px;
    background: #b8e8d0;
    opacity: .4;
    margin: 25px 0;
}

footer .tweet {
    color: #ccffcc;
    font-size: .875em;
}

footer .tweet .mention, footer .where-we-are {
    color: #fff;
}

.footer-icon {
    position: relative;
    left: 8px;
}

#location-icon {
    top: 6px;
}

#twitter-icon {
    top: 3px;
}

#blog-icon {
    top: 8px;
}

#copyright {
    color: #ccffcc;
    font-size: .875em;
    margin-top: 50px;
    padding-bottom: 60px;
}

/* Page */

ol {
    list-style-type: none;
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

.right {
    float: right;
}

::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder { font-style: italic; }

/* #Media Queries
================================================== */

    /* All retina */
    @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        #quote {
            background-image: url(../images/billboard-2-retina.jpg);
        }
    
        #footer {
            background: url(../images/footer-bg-retina.png);
        }
        
        #what-can-we-do {
            background: url(../images/what-can-we-do-bg-retina.png);
        }
    
        #the-team {
            background: url(../images/the-team-bg-retina.png);
        }

    }

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

    /* All iPad */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        #endless-possibilities {
            background-attachment: scroll;
        }
    
        #quote {
            background-attachment: scroll;
            background-position: center -40px;
        }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
        #billboard-text {
            width: 768px;
            margin-left: -384px; /*Need to find out why numbers higher (e.g. -383) break portrait! */
        }
    
        #billboard-text span {
            font-size: 3em;
        }
    
        nav {
            width: 300px !important;
        }
    
        nav ul li {
            width: 100px !important;
        }
    
    
        .our-work div img {
            width: 180px;
        }
    
        #quote figcaption, #quote blockquote {
            font-size: 1.3em;
        }
    
        footer h1 {
            font-size: 1.5em;
            vertical-align: top;
        }
    
        #contact input, #contact textarea {
            font-size: 1em;
            padding-left: 15px;
        }
    
        #location-icon {
            top: -5px;
        }
    
        #blog-icon {
            top: -4px;
        }
    
        #what-can-we-do .container {
            background: url(../images/what-can-we-do-tablet-portrait.png) no-repeat 12px 265px;;
        }
    
        #what-can-we-do h1, #what-can-we-do h2, #services {
            margin-left: 10px;
        }
    
        #what-can-we-do .container div {
            padding-right: 0px;
        }
        
        #services h3 {
            font-size: 1.5em;
        }
    
        #services .graphics p {
            width: 380px;
        }
    
        #services .photography {
            margin-top: 79px;
        }
    
        #services .web-development {
            margin-top: 129px;
        }
    
        #services .web-development p {  
            width: 450px;
        }
    
        #endless-possibilities .second-parallax {
            background-image: url(../images/endless-possibilities-3-tablet-portrait.png);
        }
    
        #endless-possibilities span {
            margin-left: -52px;
        }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
